body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #0a17ca;
  }
  
  header {
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #555;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }